@import 'tailwindcss';

@theme {
  --color-tenna-950: #1b1924;
  --color-tenna-900: #1f1e2a;
  --color-tenna-850: #242230;
  --color-tenna-800: #282636;
  --color-tenna-750: #2d2a3c;
  --color-tenna-700: #312f42;
  --color-tenna-650: #363348;
  --color-tenna-600: #3a374e;
  --color-tenna-550: #3f3b54;
  --color-tenna-500: #433f5a;

  --color-surface-1: var(--color-tenna-900); /* main content / panels */
  --color-surface-2: var(--color-tenna-800); /* containers */
  --color-surface-3: var(--color-tenna-700); /* raised containers */
  --color-surface-4: var(--color-tenna-600); /* highest neutral layer */

  --color-surface-1-hover: var(--color-tenna-850);
  --color-surface-1-active: var(--color-tenna-750);

  --color-surface-2-hover: var(--color-tenna-750);
  --color-surface-2-active: var(--color-tenna-650);

  --color-surface-3-hover: var(--color-tenna-650);
  --color-surface-3-active: var(--color-tenna-550);

  --color-border: var(--color-tenna-750);
  --color-divider: #343145;
  --color-overlay: #0d0d12ab; /* 67% alpha */

  --color-text-1: #f5f5f5; /* primary on dark */
  --color-text-2: #a2a2a9; /* secondary */
  --color-text-3: #6e6e77; /* muted/disabled */
  --color-text-inverse: #0a0a0a;

  --color-red: #e53170; /* tenna */
  --color-red-hover: #e7437d;
  --color-red-active: #e31f63;
  --color-red-soft: #e6337129; /* 16% alpha */

  --color-blue: #00a2e8; /* kris */
  --color-blue-hover: #00b0fc;
  --color-blue-active: #0094d4;
  --color-blue-soft: #00a2e829; /* 16% alpha */

  --color-pink: #ea79c8; /* susie */
  --color-pink-hover: #ed8bcf;
  --color-pink-active: #e767c1;
  --color-pink-soft: #ea7bc929; /* 16% alpha */

  --color-green: #b5e61d; /* ralsei */
  --color-green-hover: #bbe82f;
  --color-green-active: #a8d718;
  --color-green-soft: #b4e61e29; /* 16% alpha */

  --color-yellow: #ffff00; /* noelle */
  --color-yellow-hover: #ffff14;
  --color-yellow-active: #ebeb00;
  --color-yellow-soft: #ffff0024; /* 14% alpha */

  --font-sans: 'Pixel Operator', sans-serif;
  --font-mono: 'Pixel Operator Mono', monospace;

  /* Scaling all fonts because Pixel Operator is little bit smaller */
  --font-scale: 1.09;
  --text-xs: calc(0.75rem * var(--font-scale));
  --text-sm: calc(0.875rem * var(--font-scale));
  --text-base: calc(1rem * var(--font-scale));
  --text-lg: calc(1.125rem * var(--font-scale));
  --text-xl: calc(1.25rem * var(--font-scale));
  --text-2xl: calc(1.5rem * var(--font-scale));
  --text-3xl: calc(1.875rem * var(--font-scale));
  --text-4xl: calc(2.25rem * var(--font-scale));
  --text-5xl: calc(3rem * var(--font-scale));
  --text-6xl: calc(3.75rem * var(--font-scale));
  --text-7xl: calc(4.5rem * var(--font-scale));
  --text-8xl: calc(6rem * var(--font-scale));
  --text-9xl: calc(8rem * var(--font-scale));
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperator.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator';
  src: url('./assets/fonts/PixelOperator-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('./assets/fonts/PixelOperatorMono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixel Operator Mono';
  src: url('./assets/fonts/PixelOperatorMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    color: var(--color-text-1);
    background-color: var(--color-surface-1);
    font-size: var(--text-base);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
}

@layer components {
  .page {
    @apply flex flex-col mx-auto py-8 px-8 w-full flex-none min-w-0 gap-4 max-w-5xl;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #56526e #1f1d2b;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f1d2b;
}

*::-webkit-scrollbar-thumb {
  background: #56526e;
}

*::-webkit-scrollbar-thumb:hover {
  background: #908caa;
}

*::-webkit-scrollbar-corner {
  background: #1f1d2b;
}
